<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c526a0fc-bd14-4c0f-9ba1-7c706b654b30" Version="1.0.0.2" Publisher="CN=Matias" />
  <Properties>
    <DisplayName>RouteLoop</DisplayName>
    <Description>RouteLoop.Metro</Description>
    <PublisherDisplayName>Matias Iacono</PublisherDisplayName>
    <Logo>images\50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="RouteLoop" Logo="images\150x150.png" SmallLogo="images\30x30.png" Description="RouteLoop for Windows 8 Metro technology. HTML5 game ported to Windows 8." ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="noLogos" ShortName="RouteLoop" WideLogo="images\310x150.png" />
        <SplashScreen Image="images\620x300.png" BackgroundColor="#333366" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>